
/* --------------- Animations --------------- */




/* ----------------- Body ---------------- */

.black {

	background-color: black;

}

body{

  margin-top: 100px;
  margin-bottom: 50vw;
  background: grey;

}


#containerAxeY {

	width: 30vw;
	height:30vw;
	margin:auto;
	transform-style: preserve-3d;
	transform: rotateY(-47deg) rotateX(0);
  	transition: transform 2s ease;

}

#containerAxeX {

	width: 30vw;
	height:30vw;
	margin:auto;
	transform-style: preserve-3d;
	transform: rotateX(-25deg);
	margin-bottom: 20vw;

}

.cube {

 	 transform-style: preserve-3d;
	  width:10vw;
	height:10vw;
	position:absolute;
	top:0;
	left:0;

}

.cubeAvant {

  transform: translateZ(15vw);

}

.cubeMilieu {

  transform: translateZ(5vw);

}

.cubeDos {

  transform: translateZ(-5vw);

}

.liste_couleurs {

	height : 100%;
	width : 100%;
	opacity : 0;
}


/*------------ Cube 1 ------------*/

.cube1 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:0;
	border-radius: 15%;
  z-index:9999;

}

#cube1fA0 {

	background:#f00202 ;

}

#cube1fA0Fond {

	transform:translateZ(-0.05vw);

}

#cube1fH6 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube1fH6Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube1fG2 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube1fG2Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube1fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube1fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube1fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 2 ------------*/

.cube2 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:10vw;
	border-radius: 15%;

}

#cube2fA1 {

	background:#f00202 ;

}

#cube2fA1Fond {

	transform: translateZ(-0.05vw);

}

#cube2fH7 {

	background: white;
	transform: rotateX(-90deg) rotateY(180deg);
	transform-origin: top center;

}

#cube2fH7Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube2fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube2fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube2fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube2fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 3 ------------*/

.cube3 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:20vw;
	border-radius: 15%;

}

#cube3fA2 {

	background: #f00202;

}

#cube3fA2Fond {

	transform: translateZ(-0.05vw);

}

#cube3fH8 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube3fH8Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube3fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube3fD0 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube3fD0Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube3fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube3fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 4 ------------*/

.cube4 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:0vw;
	border-radius: 15%;

}

#cube4fA3 {

	background: #f00202;

}

#cube4fA3Fond {

	transform: translateZ(-0.05vw);

}

#cube4fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube4fG5 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube4fG5Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube4fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube4fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube4fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 5 ------------*/

.cube5 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:10vw;
	border-radius: 15%;

}

#cube5fA4 {

	background: #f00202;

}

#cube5fA4Fond {

	transform: translateZ(-0.05vw) ;

}

#cube5fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube5fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube5fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube5fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube5fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 6 ------------*/

.cube6 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:20vw;
	border-radius: 15%;

}

#cube6fA5 {

	background: #f00202;

}

#cube6fA5Fond {

	transform:translateZ(-0.05vw);

}

#cube6fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube6fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube6fD3 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube6fD3Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube6fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube6fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 7 ------------*/

.cube7 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:0;
	border-radius: 15%;

}

#cube7fA6 {

	background:#f00202 ;

}

#cube7fA6Fond {

	transform:translateZ(-0.05vw);

}

#cube7fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube7fG8 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube7fG8Fond {

	transform: rotateY(90deg) translateZ(0.10vw);
	transform-origin: center left;

}

#cube7fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube7fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube7fB0 {

  background: yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube7fB0Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 8 ------------*/

.cube8 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:10vw;
	border-radius: 15%;

}

#cube8fA7 {

	background:#f00202 ;

}

#cube8fA7Fond {

	transform: translateZ(-0.05vw);

}

#cube8fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube8fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube8fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube8fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube8fB1 {

  background: Yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube8fB1Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 9 ------------*/

.cube9 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:20vw;
	border-radius: 15%;
  z-index:-9999;

}

#cube9fA8 {

	background: #f00202;

}

#cube9fA8Fond {

	transform: translateZ(-0.05vw);

}

#cube9fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube9fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube9fD6 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube9fD6Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube9fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube9fB2 {

  background: yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube9fB2Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 10 ------------*/

.cube10 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:0;
	border-radius: 15%;


}

#cube10fH3 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube10fH3Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube10fG1 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube10fG1Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube10fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube10fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube10fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 11 ------------*/

.cube11 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:10vw;
	border-radius: 15%;

}

#cube11fH4 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube11fH4Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube11fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube11fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube11fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube11fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 12 ------------*/

.cube12 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:20vw;
	border-radius: 15%;

}

#cube12fH5 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube12fH5Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube12fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube12fD1 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube12fD1Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube12fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube12fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 13 ------------*/

.cube13 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:0vw;
	border-radius: 15%;

}

#cube13fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube13fG4 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube13fG4Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube13fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube13fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube13fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 15 ------------*/

.cube15 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:20vw;
	border-radius: 15%;

}

#cube15fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube15fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube15fD4 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube15fD4Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube15fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube15fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 16 ------------*/

.cube16 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:0;
	border-radius: 15%;

}

#cube16fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube16fG7 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube16fG7Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube16fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube16fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube16fB3 {

  background: yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube16fB3Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 17 ------------*/

.cube17 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:10vw;
	border-radius: 15%;

}

#cube17fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube17fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube17fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube17fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube17fB4 {

  background: Yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube17fB4Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 18 ------------*/

.cube18 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:20vw;
	border-radius: 15%;

}

#cube18fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube18fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube18fD7 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube18fD7Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube18fP {

	transform: rotateX(-180deg) translateZ(10vw);

}

#cube18fB5 {

  background: yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube18fB5Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 19 ------------*/

.cube19 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:0;
	border-radius: 15%;


}

#cube19fH0 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube19fH0Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube19fG0 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube19fG0Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube19fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube19fP2 {

  background: #ff6200;
	transform:translateZ(-10vw);

}

#cube19fP2Fond {

	transform: translateZ(-9.95vw);

}

#cube19fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 20 ------------*/

.cube20 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:10vw;
	border-radius: 15%;

}

#cube20fH1 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube20fH1Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube20fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube20fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube20fP1 {

  background: #ff6200;
	transform: translateZ(-10vw);

}

#cube20fP1Fond {

	transform:translateZ(-9.95vw);

}

#cube20fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 21 ------------*/

.cube21 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:0;
	left:20vw;
	border-radius: 15%;

}

#cube21fH2 {

	background: white;
	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube21fH2Fond {

	transform: rotateX(-90deg) translateZ(0.05vw);
	transform-origin: top center;

}

#cube21fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube21fD2 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube21fD2Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube21fP0 {

  background: #ff6200;
	transform:translateZ(-10vw);

}
#cube21fP0Fond {

	transform: translateZ(-9.95vw);

}

#cube21fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 22 ------------*/

.cube22 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:0vw;
	border-radius: 15%;

}

#cube22fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube22fG3 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube22fG3Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube22fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube22fP5 {

  background: #ff6200;
	transform: translateZ(-10vw);

}

#cube22fP5Fond {

	transform: translateZ(-9.95vw);

}

#cube22fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 23 ------------*/

.cube23 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:10vw;
	border-radius: 15%;

}

#cube23fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube23fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube23fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube23fP4 {

  background: #ff6200;
	transform: translateZ(-10vw);

}

#cube23fP4Fond {

	transform: translateZ(-9.95vw);

}

#cube23fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 24 ------------*/

.cube24 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:10vw;
	left:20vw;
	border-radius: 15%;

}

#cube24fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube24fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube24fD5 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube24fD5Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube24fP3 {

  background: #ff6200;
	transform: translateZ(-10vw);

}

#cube24fP3Fond {

	transform: translateZ(-9.95vw);

}

#cube24fB {

	transform: rotateX(90deg);
	transform-origin: bottom center;

}

/*------------ Cube 25 ------------*/

.cube25 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:0;
	border-radius: 15%;

}

#cube25fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube25fG6 {

	background: #0a9900;
	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube25fG6Fond {

	transform: rotateY(90deg) translateZ(0.05vw);
	transform-origin: center left;

}

#cube25fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube25fP8 {

  background: #ff6200;
	transform: translateZ(-10vw);

}

#cube25fP8Fond {

	transform: translateZ(-9.95vw);

}

#cube25fB6 {

  background: yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube25fB6Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 26 ------------*/

.cube26 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:10vw;
	border-radius: 15%;

}

#cube26fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube26fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube26fD {

	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube26fP7 {

  background: #ff6200;
	transform: translateZ(-10vw);

}

#cube26fP7Fond {

	transform: translateZ(-9.95vw);

}

#cube26fB7 {

  background: Yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube26fB7Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

/*------------ Cube 27 ------------*/

.cube27 {

	border:solid 0.75vw black;
	width:8.5vw;
	height:8.5vw;
	position:absolute;
	top:20vw;
	left:20vw;
	border-radius: 15%;

}

#cube27fH {

	transform: rotateX(-90deg);
	transform-origin: top center;

}

#cube27fG {

	transform: rotateY(90deg);
	transform-origin: center left;

}

#cube27fD8 {

	background: blue;
	transform: rotateY(-90deg);
	transform-origin: center right;

}

#cube27fD8Fond {

	transform: rotateY(-90deg) translateZ(0.05vw);
	transform-origin: center right;

}

#cube27fP6 {

  background: #ff6200;
	transform: translateZ(-10vw);

}

#cube27fP6Fond {

	transform: translateZ(-9.95vw);

}

#cube27fB8 {

  background: yellow;
	transform: rotateX(90deg);
	transform-origin: bottom center;

}

#cube27fB8Fond {

	transform: rotateX(90deg) translateZ(0.05vw);
	transform-origin: bottom center;

}

#divTurn {

  height: 30vw;
  width: 30vw;
  transition: transform 1s ease;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: rotate(0deg) rotateY(0deg) rotateX(0deg);



}

#btnSwitch {

}